/* Valores de palavras-chave 
align-self: auto;
align-self: normal;

{ Alinhamento de posicionamento }
{ align-self não recebe valores left e right }
align-self: center; { Coloca o item em torno do centro }
align-self: start; { Coloca o item no início }
align-self: end; { Coloca o item no fim }
align-self: self-start; { Alinha o item flush no início }
align-self: self-end; { Alinha o item flush no fim }
align-self: flex-start; { Coloca o item flex no início }
align-self: flex-end; { Coloca o item flex no fim }

/* Alinhamento a partir da baseline 
align-self: baseline;
align-self: first baseline;
align-self: last baseline;
align-self: stretch; { Estica itens de tamanho 'auto' para encaixar no container }

/* Alinhamento com Oveflow 
align-self: safe center;
align-self: unsafe center;

/* Valores globais 
align-self: inherit;
align-self: initial;
align-self: unset;*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #161627; 
  color: #fff; 
}

header {
  background-color: #161627; 
  padding: 20px 0;
}

.slide {
  width: 100%;
  height: 100dvh;
  background-color: #161627;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagina1, .pagina2, .pagina3 {
  width: 150px;
  height: 200px;
  background: linear-gradient(90deg, rgba(141,67,171,1) 8%, rgba(131,58,180,1) 18%, rgba(252,176,69,1) 100%);
  margin: 10px;
  border-radius: 50px;
  transition: width 0.5s;
}

.pagina1 {
  align-self: start;
}

.pagina2 {
  align-self: center;
}

.pagina3 {
  align-self: end;
}


.pagina1:hover, .pagina2:hover, .pagina3:hover {
  width: 300px;
}
h1, h2, h3, h4 {
  color: #f9a826; 
  margin: 10px 0; 
  text-align: center; 
}


p {
  color: #d0d0d0; 
  margin: 10px 20px; 
  line-height: 1.5; 
  text-align: justify; 
}


p a {
  color: #f9a826; 
  text-decoration: none;
}

p a:hover {
  text-decoration: underline; 
}